<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Index</title>

  </head>

  <body>

    <a href="/add-new-student">New Student</a>

    <table>

      <thead>

        <tr>

          <td>First Name</td>

          <td>Last Name</td>

          <td>Email</td>

          <td>Phone#</td>

        </tr>

      </thead>

      <tbody>

        <% for(var i = 0 ; i<students.length ; i ++){ %>

        <tr>

          <td><%= students[i].firstName %></td>

          <td><%= students[i].lastName %></td>

          <td><%= students[i].email %></td>

          <td><%= students[i].phoneNo %></td>
          <td>
          <form action = "/delete-student/<%= students[i]._id%>" method = "post">
            <button type="submit">Delete</button>
          </form>
          </td>
        </tr>
     <% } %>

      </tbody>

    </table>

  </body>

</html>